.navbar-nav .nav-item .nav-link{
    color: white  !important;
}
.carousel-inner img {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    border-radius: 15px;
    transition: none !important;
}

#carouselExample {
    max-width: 800px; 
    margin: 0 auto; 
    overflow: hidden;
}
